@font-face {
  font-family: 'sequel sans';
  src: url('../sequel_sans.woff2') format('woff2'),
    url('../sequel_sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sequel sans;
  scroll-behavior: smooth;
}

@media screen and (max-width: 960px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
}

.hero {
  background: #12142b;
  background: linear-gradient(to right, #12142b, #000);
  background: url('./images/header-background.png') no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 500px; // 82%;
  padding: 30px;
  text-align: center;
}

.hero-heading {
  margin-bottom: 24px;
}

.hero-subheading {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .hero-heading {
    font-size: 24px;
  }

  .hero-subheading {
    font-size: 19px;
  }
}

.before-about {
  position: absolute;
  bottom: -0.5px;
  width: 100%;
  height: 80px;
  background: #8189f8;
  background: -webkit-linear-gradient(to right, #8189f8, #c396ed);
  background: linear-gradient(to right, #8189f8, #c396ed);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.about {
  position: relative;
  padding: 30px;
  padding-left: 60px;
  background: #8189f8;
  background: -webkit-linear-gradient(to right, #8189f8, #c396ed);
  background: linear-gradient(to right, #8189f8, #c396ed);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px;
  margin-bottom: 20px;
}

.about p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

#signoff {
  font-weight: bold;
}

.after-about {
  position: absolute;
  top: -0.5px;
  width: 100%;
  height: 80px;
  background: #8189f8;
  background: -webkit-linear-gradient(to right, #8189f8, #c396ed);
  background: linear-gradient(to right, #8189f8, #c396ed);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.companies {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 65%;
  min-height: 500px;
  background: #12142b;
  background: linear-gradient(to right, #12142b, #000);
  background: url('./images/company-background.png') no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.companies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

  height: 45%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 1300px;
  padding: 30px;
}

#companies-header {
  font-size: 0.9 rem;
  margin-bottom: 30px;
}

.companies-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  font-size: 1.3rem;
  margin: 0 auto;
}

.before-socials {
  position: absolute;
  bottom: -0.5px;
  width: 100%;
  height: 80px;
  background: #8189f8;
  background: -webkit-linear-gradient(to right, #8189f8, #c396ed);
  background: linear-gradient(to right, #8189f8, #c396ed);
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.socials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 50%;
}

.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 25%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 65px;
  max-width: 1300px;
  padding: 30px;
}

.socials-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 38px;
  margin-bottom: 40px;
}

.socials {
  background: #8189f8;
  background: -webkit-linear-gradient(to right, #8189f8, #c396ed);
  background: linear-gradient(to right, #8189f8, #c396ed);
}

.socials-links {
  transition: all 0.3s ease;
}

.socials-links:hover {
  color: #8189f8;
  transition: all 0.3s ease;
}

.after-socials {
  position: relative;
  top: -0.5px;
  width: 100%;
  height: 80px;
  background: #8189f8;
  background: -webkit-linear-gradient(to right, #8189f8, #c396ed);
  background: linear-gradient(to right, #8189f8, #c396ed);
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 30px;
}

.orglogo {
  width: 150px;
  padding: 20px;
}

.mail {
  font-weight: bold;
}

body {
  background-color: #12142b;
  color: #ffff;
  font-family: sequel sans;
}

a {
  color: inherit;
  text-decoration: inherit;
}
